In [2]:
import pandas as pd

In [3]:
df= pd.read_csv(r"/home/jabir-ali/code/dataanalysis/hospitalAdmissionData/HospitalAdmissionData/HDHI Admission data.csv")

In [4]:
df.head()

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df2=pd.read_csv(r"/home/jabir-ali/code/dataanalysis/hospitalAdmissionData/HospitalAdmissionData/table_headings.csv")

In [6]:
df2

,Table Heading,Explanatory Name,,.1,.2,.3,.4
0,SNO,Serial Number,,,,,
1,MRD No.,Admission Number,,,,,
2,D.O.A,Date of Admission,,,,,
3,D.O.D,Date of Discharge,,,,,
4,AGE,AGE,,,,,
5,GENDER,GENDER,,,,,
6,RURAL,RURAL(R) /Urban(U),,,,,
7,TYPE OF ADMISSION-EMERGENCY/OPD,TYPE OF ADMISSION-EMERGENCY/OPD,,,,,
8,month year,month year,,,,,
9,DURATION OF STAY,DURATION OF STAY,,,,,
10,duration of intensive unit stay,duration of intensive unit stay,,,,,
11,OUTCOME,OUTCOME,,,,,
12,SMOKING,SMOKING,,,,,
13,ALCOHOL,ALCOHOL,,,,,
14,DM,Diabetes Mellitus,,,,,
15,HTN,Hypertension,,,,,
16,CAD,Coronary Artery Disease,,,,,
17,PRIOR CMP,CARDIOMYOPATHY,,,,,
18,CKD,CHRONIC KIDNEY DISEASE,,,,,
19,HB,Haemoglobin,,,,,
20,TLC,TOTAL LEUKOCYTES COUNT,,,,,
21,PLATELETS,PLATELETS,,,,,
22,GLUCOSE,GLUCOSE,,,,,
23,UREA,UREA,,,,,
24,CREATININE,CREATININE,,,,,
25,BNP,B-TYPE NATRIURETIC PEPTIDE,,,,,
26,RAISED CARDIAC ENZYMES,RAISED CARDIAC ENZYMES,,,,,
27,EF,Ejection Fraction,,,,,
28,SEVERE ANAEMIA,SEVERE ANAEMIA,,,,,
29,ANAEMIA,ANAEMIA,,,,,
30,STABLE ANGINA,STABLE ANGINA,,,,,
31,ACS,Acute coronary Syndrome,,,,,
32,STEMI,ST ELEVATION MYOCARDIAL INFARCTION,,,,,
33,ATYPICAL CHEST PAIN,ATYPICAL CHEST PAIN,,,,,
34,HEART FAILURE,HEART FAILURE,,,,,
35,HFREF,HEART FAILURE WITH REDUCED EJECTION FRACTION,,,,,
36,HFNEF,HEART FAILURE WITH NORMAL EJECTION FRACTION,,,,,
37,VALVULAR,Valvular Heart Disease,,,,,
38,CHB,Complete Heart Block,,,,,
39,SSS,Sick sinus syndrome,,,,,
40,AKI,ACUTE KIDNEY INJURY,,,,,
41,CVA INFRACT,Cerebrovascular Accident INFRACT,,,,,
42,CVA BLEED,Cerebrovascular Accident BLEED,,,,,
43,AF,Atrial Fibrilation,,,,,
44,VT,Ventricular Tachycardia,,,,,
45,PSVT,PAROXYSMAL SUPRA VENTRICULAR TACHYCARDIA,,,,,
46,CONGENITAL,Congenital Heart Disease,,,,,
47,UTI,Urinary tract infection,,,,,
48,NEURO CARDIOGENIC SYNCOPE,NEURO CARDIOGENIC SYNCOPE,,,,,
49,ORTHOSTATIC,ORTHOSTATIC,,,,,
50,INFECTIVE ENDOCARDITIS,INFECTIVE ENDOCARDITIS,,,,,
51,DVT,Deep venous thrombosis,,,,,
52,CARDIOGENIC SHOCK,CARDIOGENIC SHOCK,,,,,
53,SHOCK,SHOCK,,,,,
54,PULMONARY EMBOLISM,PULMONARY EMBOLISM,,,,,
55,CHEST INFECTION,CHEST INFECTION,,,,,
56,,,,,,,
57,Other Abbreveiations,,,,,,
58,DAMA,Discharged Against Medical Advice,,,,,

In [7]:
df2.isnull().sum()

Table Heading                                    0
 Explanatory Name                                0
                                                 0
 .1                                              0
 .2                                              0
 .3                                              0
 .4                                              0
dtype: int64

In [8]:
df2.head()

,Table Heading,Explanatory Name,,.1,.2,.3,.4
0,SNO,Serial Number,,,,,
1,MRD No.,Admission Number,,,,,
2,D.O.A,Date of Admission,,,,,
3,D.O.D,Date of Discharge,,,,,
4,AGE,AGE,,,,,

In [9]:
df2.isnull().sum()

Table Heading                                    0
 Explanatory Name                                0
                                                 0
 .1                                              0
 .2                                              0
 .3                                              0
 .4                                              0
dtype: int64

In [10]:
# we make sure to strip the heading so as to prevent any errors from mismatch btwn the two 
df2.columns = df2.columns.str.strip()
df.columns = df.columns.str.strip()

In [11]:
# create a dataframe containing only the required columns(a copy)
df2 = df2[['Table Heading','Explanatory Name']]

In [12]:
df2.head()

,Table Heading,Explanatory Name
0,SNO,Serial Number
1,MRD No.,Admission Number
2,D.O.A,Date of Admission
3,D.O.D,Date of Discharge
4,AGE,AGE

In [13]:
df2.isnull().sum()

Table Heading       0
Explanatory Name    0
dtype: int64

In [14]:
# write a code to transfer full forms of headings from df2 to the abbreviations in df
# step 1 - put the file responsible for mapping into a dictionary form
# within the zip() we create two list and then combine them pair by pair 
df2_dictionary = dict(zip(df2["Table Heading"], df2["Explanatory Name"]))

In [15]:
# tried using the conventional .strip() method but to no avail due to dict dtype
df2_dictionary = {k.strip(): v.strip() for k, v in df2_dictionary.items()}

In [16]:
df2_dictionary

{'SNO': 'Serial Number',
 'MRD No.': 'Admission Number',
 'D.O.A': 'Date of Admission',
 'D.O.D': 'Date of Discharge',
 'AGE': 'AGE',
 'GENDER': 'GENDER',
 'RURAL': 'RURAL(R) /Urban(U)',
 'TYPE OF ADMISSION-EMERGENCY/OPD': 'TYPE OF ADMISSION-EMERGENCY/OPD',
 'month year': 'month year',
 'DURATION OF STAY': 'DURATION OF STAY',
 'duration of intensive unit stay': 'duration of intensive unit stay',
 'OUTCOME': 'OUTCOME',
 'SMOKING': 'SMOKING',
 'ALCOHOL': 'ALCOHOL',
 'DM': 'Diabetes Mellitus',
 'HTN': 'Hypertension',
 'CAD': 'Coronary Artery Disease',
 'PRIOR CMP': 'CARDIOMYOPATHY',
 'CKD': 'CHRONIC KIDNEY DISEASE',
 'HB': 'Haemoglobin',
 'TLC': 'TOTAL LEUKOCYTES COUNT',
 'PLATELETS': 'PLATELETS',
 'GLUCOSE': 'GLUCOSE',
 'UREA': 'UREA',
 'CREATININE': 'CREATININE',
 'BNP': 'B-TYPE NATRIURETIC PEPTIDE',
 'RAISED CARDIAC ENZYMES': 'RAISED CARDIAC ENZYMES',
 'EF': 'Ejection Fraction',
 'SEVERE ANAEMIA': 'SEVERE ANAEMIA',
 'ANAEMIA': 'ANAEMIA',
 'STABLE ANGINA': 'STABLE ANGINA',
 'ACS': 'Acute coronary Syndrome',
 'STEMI': 'ST ELEVATION MYOCARDIAL INFARCTION',
 'ATYPICAL CHEST PAIN': 'ATYPICAL CHEST PAIN',
 'HEART FAILURE': 'HEART FAILURE',
 'HFREF': 'HEART FAILURE WITH REDUCED EJECTION FRACTION',
 'HFNEF': 'HEART FAILURE WITH NORMAL EJECTION FRACTION',
 'VALVULAR': 'Valvular Heart Disease',
 'CHB': 'Complete Heart Block',
 'SSS': 'Sick sinus syndrome',
 'AKI': 'ACUTE KIDNEY INJURY',
 'CVA INFRACT': 'Cerebrovascular Accident INFRACT',
 'CVA BLEED': 'Cerebrovascular Accident BLEED',
 'AF': 'Atrial Fibrilation',
 'VT': 'Ventricular Tachycardia',
 'PSVT': 'PAROXYSMAL SUPRA VENTRICULAR TACHYCARDIA',
 'CONGENITAL': 'Congenital Heart Disease',
 'UTI': 'Urinary tract infection',
 'NEURO CARDIOGENIC SYNCOPE': 'NEURO CARDIOGENIC SYNCOPE',
 'ORTHOSTATIC': 'ORTHOSTATIC',
 'INFECTIVE ENDOCARDITIS': 'INFECTIVE ENDOCARDITIS',
 'DVT': 'Deep venous thrombosis',
 'CARDIOGENIC SHOCK': 'CARDIOGENIC SHOCK',
 'SHOCK': 'SHOCK',
 'PULMONARY EMBOLISM': 'PULMONARY EMBOLISM',
 'CHEST INFECTION': 'CHEST INFECTION',
 '': '',
 'Other Abbreveiations': '',
 'DAMA': 'Discharged Against Medical Advice'}

In [17]:
df.rename(columns=df2_dictionary, inplace=True)

In [18]:
df

,Serial Number,Admission Number,Date of Admission,Date of Discharge,AGE,GENDER,RURAL(R) /Urban(U),TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,Congenital Heart Disease,Urinary tract infection,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,Deep venous thrombosis,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# Cleaning numerical columns 
# implement a function
def clean_num_col(df, columns):
    for col in columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    return df

In [20]:
numerical_columns = []
def return_int(df):
    for col in df.columns:
        if df[col].dtypes == "int64":
            numerical_columns.append(col)
    return numerical_columns
            
return_int(df)
numerical_columns

['Serial Number',
 'AGE',
 'DURATION OF STAY',
 'duration of intensive unit stay',
 'SMOKING',
 'ALCOHOL',
 'Diabetes Mellitus',
 'Hypertension',
 'Coronary Artery Disease',
 'CARDIOMYOPATHY',
 'CHRONIC KIDNEY DISEASE',
 'RAISED CARDIAC ENZYMES',
 'SEVERE ANAEMIA',
 'ANAEMIA',
 'STABLE ANGINA',
 'Acute coronary Syndrome',
 'ST ELEVATION MYOCARDIAL INFARCTION',
 'ATYPICAL CHEST PAIN',
 'HEART FAILURE',
 'HEART FAILURE WITH REDUCED EJECTION FRACTION',
 'HEART FAILURE WITH NORMAL EJECTION FRACTION',
 'Valvular Heart Disease',
 'Complete Heart Block',
 'Sick sinus syndrome',
 'ACUTE KIDNEY INJURY',
 'Cerebrovascular Accident INFRACT',
 'Cerebrovascular Accident BLEED',
 'Atrial Fibrilation',
 'Ventricular Tachycardia',
 'PAROXYSMAL SUPRA VENTRICULAR TACHYCARDIA',
 'Congenital Heart Disease',
 'Urinary tract infection',
 'NEURO CARDIOGENIC SYNCOPE',
 'ORTHOSTATIC',
 'INFECTIVE ENDOCARDITIS',
 'Deep venous thrombosis',
 'CARDIOGENIC SHOCK',
 'SHOCK',
 'PULMONARY EMBOLISM']

In [21]:
df1_cleaned = clean_num_col(df, numerical_columns)

In [22]:
df1_cleaned

,Serial Number,Admission Number,Date of Admission,Date of Discharge,AGE,GENDER,RURAL(R) /Urban(U),TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,Congenital Heart Disease,Urinary tract infection,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,Deep venous thrombosis,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15752,15753,699585,31/03/2019,04/04/2019,86,F,U,O,Mar-19,5,...,0,0,0,0,0,0,0,0,0,0
15753,15754,699500,3/31/2019,4/1/2019,50,M,R,E,Mar-19,2,...,0,0,0,0,0,0,0,0,0,0
15754,15755,700415,31/03/2019,09/04/2019,82,M,U,E,Mar-19,10,...,0,0,0,0,0,0,0,0,0,0
15755,15756,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0
15756,15757,699524,31/03/2019,03/04/2019,59,F,U,O,Mar-19,4,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# format date time column
def clean_date(df, columns):
    for col in columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')
    return df

date_columns = ['Date of Admission', 'Date of Discharge']
df1_cleaned = clean_date(df, date_columns)

In [24]:
df1_cleaned.dtypes

Serial Number                                            int64
Admission Number                                        object
Date of Admission                               datetime64[ns]
Date of Discharge                               datetime64[ns]
AGE                                                      int64
GENDER                                                  object
RURAL(R) /Urban(U)                                      object
TYPE OF ADMISSION-EMERGENCY/OPD                         object
month year                                              object
DURATION OF STAY                                         int64
duration of intensive unit stay                          int64
OUTCOME                                                 object
SMOKING                                                  int64
ALCOHOL                                                  int64
Diabetes Mellitus                                        int64
Hypertension                                             int64
Coronary Artery Disease                                  int64
CARDIOMYOPATHY                                           int64
CHRONIC KIDNEY DISEASE                                   int64
Haemoglobin                                             object
TOTAL LEUKOCYTES COUNT                                  object
PLATELETS                                               object
GLUCOSE                                                 object
UREA                                                    object
CREATININE                                              object
B-TYPE NATRIURETIC PEPTIDE                              object
RAISED CARDIAC ENZYMES                                   int64
Ejection Fraction                                       object
SEVERE ANAEMIA                                           int64
ANAEMIA                                                  int64
STABLE ANGINA                                            int64
Acute coronary Syndrome                                  int64
ST ELEVATION MYOCARDIAL INFARCTION                       int64
ATYPICAL CHEST PAIN                                      int64
HEART FAILURE                                            int64
HEART FAILURE WITH REDUCED EJECTION FRACTION             int64
HEART FAILURE WITH NORMAL EJECTION FRACTION              int64
Valvular Heart Disease                                   int64
Complete Heart Block                                     int64
Sick sinus syndrome                                      int64
ACUTE KIDNEY INJURY                                      int64
Cerebrovascular Accident INFRACT                         int64
Cerebrovascular Accident BLEED                           int64
Atrial Fibrilation                                       int64
Ventricular Tachycardia                                  int64
PAROXYSMAL SUPRA VENTRICULAR TACHYCARDIA                 int64
Congenital Heart Disease                                 int64
Urinary tract infection                                  int64
NEURO CARDIOGENIC SYNCOPE                                int64
ORTHOSTATIC                                              int64
INFECTIVE ENDOCARDITIS                                   int64
Deep venous thrombosis                                   int64
CARDIOGENIC SHOCK                                        int64
SHOCK                                                    int64
PULMONARY EMBOLISM                                       int64
CHEST INFECTION                                         object
dtype: object